<section id="about" class="w-full h-screen p-6">
  <h1 class="mt-4 pt-6 text-center hiwua text-yellow-600 text-6xl">ስለኛ ይወቁ</h1>
  <div class="w-full flex gap-20">
    <div class="p-4 flex sm:flex-col">
      <h1>title</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        cum.
      </p>
    </div>
    <div class="p-4 flex sm:flex-col">image</div>
  </div>
</section>
