<section class="px-6 w-full h-screen">
  <h1 class="mt-4 mb-4 pt-6 text-center zelan text-yellow-600 text-6xl">
    አገልግሎቶቻችን
  </h1>
  <div class="flex gap-3">
    <div
      class="w-1/4 rounded-lg p-6 flex items-center justify-center text-green-500 flex-col border-2 border-yellow-600"
    >
      <!-- <i class="w-[60px] h-[60px] fa fa-map" aria-hidden="true"></i> -->

      <p class="text-[24px]">የተለያዩ የብድር አገልግሎቶች</p>
    </div>
    <div
      class="w-1/4 rounded-lg p-6 flex items-center justify-center text-green-500 flex-col border-2 border-yellow-600"
    >
      <h2 class="icon">Service Icon</h2>
      <p class="">የልጆች ክፍያ ቁጠባ</p>
    </div>
  </div>
</section>
