<header class="w-full h-[64px] px-6 py-2 flex justify-between items-center">
  <h1 class="text-5xl text-green-800 hiwua">
    ኖህ<span class="text-xl"> የቁጠባና የብድር ተቋም</span>
  </h1>
  <div class="flex items-center gap-x-6">
    <ul class="flex hiwua items-center">
      <li class="cursor-pointer hover:bg-green-300 px-4 py-2 rounded">ዋና ገጽ</li>
      <li class="cursor-pointer hover:bg-green-300 px-4 py-2 rounded">
        አገልግሎቶች
      </li>
      <li class="cursor-pointer hover:bg-green-300 px-4 py-2 rounded">ስለ ኖህ</li>
      <li class="cursor-pointer hover:bg-green-300 px-4 py-2 rounded">ያግኙን</li>
    </ul>
    <div class="flex items-center hiwua gap-x-4">
      <button
        class="text-white bg-green-400 hover:bg-green-300 px-6 py-2 rounded"
      >
        ይግቡ
      </button>
      <button
        class="text-white bg-green-400 hover:bg-green-300 px-6 py-2 rounded"
      >
        ይመዝገቡ
      </button>
    </div>
  </div>
</header>
