<h1>New Blog Post</h1>
<form action="/" method="POST">
  <%- include('./partials/_blog_form_fields.ejs') %>
  <button type="submit">Create Blog Post</button>
</form>
<a href="/">Back to All Blogs</a>
