<form method="POST" action="<%= url %>?_method=DELETE" style="display: inline">
  <button
    class="bg-red-300 text-center text-1xl px-4 py-2 rounded"
    type="submit"
  >
    Delete
  </button>
</form>
